@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --clr-neutral-400: #f7f7f7; /* 60 */
  --clr-primary-400: #303030; /* 30 */
  --clr-primary-200: #838383;
  --clr-cta-400: #537ecc; /* 10 */

  --ff-heading: "Quicksand", sans-serif;
  --ff-body: "Roboto", sans-serif;

  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: inherit;
  scroll-behavior: auto;
}

body {
  box-sizing: border-box;
  font-family: var(--ff-heading);
  color: var(--clr-primary-400);
  background: var(--clr-neutral-400);
}

p {
  font-family: var(--ff-body);
}

@media (width < 1000px) {
  :root {
    --fs-800: 3.25rem;
    --fs-700: 1.325rem;
    --fs-600: 1.5rem;
    --fs-500: 1.5rem;
    --fs-400: 1rem;
    --fs-300: 0.75rem;
  }
}

@media (width < 600px) {
  :root {
    --fs-800: 1.75rem;
    --fs-700: 1rem;
    --fs-600: 1.25rem;
    --fs-500: 1.25rem;
    --fs-400: 0.875rem;
    --fs-300: 0.675rem;
  }
}